.header {
  font-family: "Nunito", sans-serif;
  margin: 1rem 0;
}

.header_container {
  padding: 1.5rem 0;
}

.header_container .img_name_div .name_div {
  margin-left: 0.9rem;
  padding-top: 0.2rem;
}

#time-checkout,
#time-checkin {
  border: none;
}

/* .top > div {
  border-bottom: 2px solid #dee2e6;
} */

.input-container {
  border-bottom: 1.5px solid #dee2e6 !important;
}

.input-container label {
  color: #34b883 !important;
}

.header_container .img_name_div .img_div {
  width: 60px !important;
  height: 60px !important;
  border-radius: 20px !important;
}

.header_container .img_name_div .img_div img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50px !important;
}

.header_container .img_name_div h5 {
  font-weight: 700;
}

.header_container .img_name_div p {
  color: #8a92a6;
}

.time_appointment_div .time_div {
  margin-right: 2rem;
  white-space: nowrap;
}

.time_appointment_div div img {
  vertical-align: sub;
}

.time_appointment_div span .time_span {
  color: #fc3955;
  font-weight: 500;
  font-size: 18px;
}

.menu_bar_container {
  background-color: #7aefc0;
  border-radius: 10px;
  padding: 0rem 2rem;
}

.menu_bar_container .card {
  background-color: #7aefc0;
  border: none;
  width: 100%;
  min-width: 90px;
  border-bottom: 2px solid transparent;
}

.menu_bar_container .card img {
  width: 1.2rem;
  height: 1.3rem;
}

.menu_bar_container .card p {
  white-space: nowrap;
}

.menu_bar_container .card:hover {
  /* border-radius: 0; */
  cursor: pointer;
}

.createAppointment_btn button {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 14px;
  display: flex;
  align-items: center;
  background-color: #34b883;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
}

.createAppointment_btn button img {
  margin-right: 0.5rem;
}

.createAppointment_btn button:hover {
  background-color: #26996b;
}

.active_menu {
  background-color: #34b883 !important;
  color: white !important;
  /* border-bottom: 2px solid #a8d6da !important; */
  /* border-radius: 0 !important; */
  /* color: #a8d6da !important; */
}

.aiToolCircle {
  border-radius: 50%;
  width: 43px;
  height: 40px;
  background-color: #34b883;
}

.aiToolContainer {
  font-size: 14px;
  font-weight: 400;

  font-family: "Nunito", sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.aiToolContainer1 {
  margin-right: 10px;
}

.notification_card {
  border-bottom: 2px transparent;
}

.active_menu_icon {
  fill: #fc3955 !important;
}

.menu_bar_container .card img {
  margin-bottom: 0.3rem;
}

.menu_bar_wrapper::-webkit-scrollbar {
  display: none;
  background-color: #7aefc0;
}

.menu_bar .menu_bar_wrapper {
  background-color: #7aefc0 !important;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .menu_bar_container {
    width: 730px !important;
  }

  .menu_bar .menu_bar_wrapper {
    width: 100%;
    overflow-x: scroll;
    border-radius: 10px;
    background-color: #7aefc0 !important;
  }

  .img_name_div {
    margin-bottom: 0.7rem;
  }

  .time_appointment_div {
    width: 100%;
    justify-content: space-around;
  }

  .appointment_btn .btn {
    font-size: 12px;
    height: 100%;
    padding-bottom: 0.7rem;
  }

  .header {
    margin: 0;
  }
}

a {
  text-decoration: none !important;
}

.menu_bar_container {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.changePasswordContianer input {
  width: 90%;
  /* margin: 15px 0; */
  border: none !important;
  outline: none !important;
}

.changePasswordContianer label {
  margin-top: 10px;
  font-weight: 600;
}

.notMatchWarning {
  color: red;
}

.passwordWrapper {
  border: 1px solid;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
}

.passwordWrapper i {
  cursor: pointer;
}

.passwordWrapperRed {
  border: 1px solid red !important;
}

.dropdown-menu {
  margin-top: 2px;
}

.crtAppointment {
  background-color: #34b883;
  height: 3rem;
  width: 20rem;
  border: none;
  border-radius: 10px;
}

.crtAppointment p {
  color: white;
  text-align: center;
  height: 8px;
}

.AIbot {
  background-color: #34b883;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  border: none;
}

.crtApp {
  margin-right: 10px;
}

/* ##### modal style  ##########*/
.appointment-form {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
}

.frm {
  align-items: center;
  padding-top: 15px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.frm h1 {
  font-family: "Nunito", sans-serif;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.form-group {
  border: none;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: auto;
}

.form-group label {
  font-family: "Nunito", sans-serif;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="tel"],
select,
textarea {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Nunito", sans-serif;
  border-top: none;
  border-left: none;

  border-right: none;

  border-bottom: 1.5px solid black;
  width: auto;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  /* border-bottom: 1.7px solid #b0d9dd;

  width: auto; */
}

#appointment-description {
  border-radius: 4px;
  border: 1px solid #dee2e6 !important;
}

#appointment-description:focus {
  border: 1.7px solid #b0d9dd !important;
}

.input-container input[type="date"],
.input-container input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  min-width: 217px;
  height: 60px;
  border-bottom: 1.5px solid black;
  background: #fff;

  overflow: hidden;
  cursor: pointer;
}

.input-container:hover,
.input-container:focus,
.input-container:active {
  border-bottom: 1.7px solid #b0d9dd;
}

.input-container label {
  position: relative;
  width: 100%;
  font-family: "Segoe UI";
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.1em;
  line-height: 20px;
  color: #09f;
  margin-left: 2px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-container input {
  position: relative;
  align-items: center;
  width: auto;
  height: auto;
  font-family: "Nunito", sans-serif;

  font-size: 15px;
  letter-spacing: 0.05em;
  line-height: 15px;
  text-transform: uppercase;
  margin-left: 0px;
}

.reservation-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  height: auto;

  border-radius: 7px;
}

.reservation-box .static {
  position: relative;
  display: flex;
  align-items: center;
  float: left;
  width: auto;
  margin-right: 20px;
}

.modalAddBtn {
  background-color: #34b883 !important;
  color: white !important;
  border-radius: 20px !important;
}

.modalCancelBtn {
  border: 1px solid #34b883 !important;
  color: #34b883 !important;
  background-color: white;
  border-radius: 20px !important;
}

.groupHeadingBox span:last-of-type {
  font-size: 12px;
}

.groupHeadingBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookBtn {
  min-width: 125px;
  border-radius: 2rem;
  background-color: #34b883 !important;
  color: white !important;
}

.bookCancelBtn {
  min-width: 125px;
  border-radius: 2rem;
  border: 1px solid #34b883 !important;
  color: #34b883 !important;
}

.reservation-box .flex {
  position: relative;
  display: flex;
  float: left;
  flex-direction: table;
  align-items: center;
  gap: 20px;
  width: auto;
}

.reservation-box .top {
  display: flex;
  flex-direction: table;
}

.reservation-box .bottom {
  position: relative;
  width: 100%;
  text-align: right;
}

.reservation-box .info {
  width: auto;
  color: #000;

  text-decoration: none;
  text-align: right;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

.reservation-box .info:hover,
.reservation-box .info:focus,
.reservation-box .info:active {
  color: #000;
  border-bottom: 2px solid #09f;
}

.reservation-box.small,
.reservation-box.small .flex {
  flex-direction: column;
}

.reservation-box.small .top {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reservation-box.small .static {
  margin-right: 0px;
}

.reservation-box.small .bottom {
  text-align: center;
}

.reservation-box.small .button-container {
  min-width: 217px;
}

.react-international-phone-input {
  width: 100% !important;
}

/* #patient-name {
  border: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6 !important;
}

#patient-contact-number {
  border: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6 !important;
}

#repeat-option {
  border: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6 !important;
}

#appointment-category {
  border: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6 !important;
} */

#appointment-description,
#appointment-category,
#repeat-option,
#patient-contact-number,
#patient-name {
  border: none;
  padding: 0.375rem 0.75rem;
  border: 1px solid #dee2e6;
}

.mrgin {
  margin-right: 10px;
}

.Accbtn {
  background-color: #34b883;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 14px;
  border-radius: 0.8rem;
}

.Accbtn:hover {
  background-color: #26996b;
  border: none;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 14px;
}

/* ------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
  .menu_barAdmin {
    width: 100%;
    overflow-x: scroll;
  }

  .menu_bar .menu_bar_wrapper_admin {
    width: 1200px !important;
    height: 100%;
  }
}

::-webkit-scrollbar {
  height: 5px !important;
}

.updBtn {
  border: none;
}

#appointment-description,
#appointment-category,
#repeat-option,
#patient-contact-number,
#patient-name {
  border-radius: 5px;

}